/* NAVIGATION STUFF GOES HERE  */

    header {
      padding: 20px 40px;
    }
  
    nav ul {
      justify-content: space-between;
    }
  
    main {
      padding: 40px 60px;
      section.menu {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }
    }
    header {
      padding: 20px 80px;
    }
  
    nav ul {
      justify-content: space-around;
    }
  

    main {
      padding: 40px 100px;
    }
  
    footer div {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
    }