$primaryColor: #1d295f; 
$secondaryColor: #7c1d47;
$accentColor: #3990c3;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;

// Variables for reusable values
$font-primary: 'Roboto', sans-serif;
$color-primary: #c43232;
$color-secondary: #222222;
$color-background: #f8f8f8;
$color-text: #333333;
$color-link: #b71c1c;
$card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$breakpoint-medium: 768px